@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: #ffffff; 
    --editor: #f4f4f4; 
    --foreground: #1a1a1a;
    --menu-sidebar: #e0e0e0; 
    --modal-background: #f8f9fa; 
    --modal-selectors: #007bff;
    --modal-selectors-active: #0056b3;
    --dropdown-background: #e0e0e0;
    --border: #cccccc; 
    --ring: #007bff;
    --radius: 0.5rem; 
    --primary: #007bff;
    --secondary: #6c757d; 
    --accent: #28a745; 
    --danger: #dc3545; 
    --warning: #ffc107;
    --success: #28a745; 
    --info: #17a2b8;
    --muted: #6c757d; 
  }

  .dark {
    --background: #121212; 
    --editor: #000000; 
    --foreground: #ffffff; 
    --menu-sidebar: #1a1a1a; 
    --button-background: #252525; 
    --modal-background: #1a1a1a; 
    --modal-selectors: #272727; 
    --modal-selectors-active: #404040; 
    --dropdown-background: #181818; 
    --border: #333333; 
    --ring: #404040;
  }
} */

/* @layer base {
  body {
    @apply bg-background text-foreground;
  }

  * {
    @apply border-border;
  }

  button {
    @apply bg-button-background text-button-foreground;
  }

  .modal {
    @apply bg-modal-background text-foreground;
  }

  .dropdown {
    @apply bg-dropdown-background;
  }

  .modal-selector {
    @apply bg-modal-selectors;
  }

  .modal-selector-active {
    @apply bg-modal-selectors-active;
  }
} */


/* @layer base {
  :root {
    --background: #F4F7FA;
    --editor: #FFFFFF;
    --foreground: #0b0b0b;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.8rem;
    --chart-1: 240 5.9% 10%;
    --chart-2: 217.2 91.2% 59.8%;
    --chart-3: 142.1 76.2% 36.3%;
    --chart-4: 47.9 95.8% 53.1%;
    --chart-5: 354.3 71.9% 52.7%;
  }

  .dark {
    --background: #212121;
    --bg-editor: #000000;
    --foreground: #F9F9F9;
    --card: 240 10% 16.1%;
    --card-foreground: 0 0% 98%;
    --popover: #1A1A1A;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --radius: 0.8rem;
    --chart-1: 0 0% 98%;
    --chart-2: 217.2 91.2% 59.8%;
    --chart-3: 142.1 76.2% 36.3%;
    --chart-4: 47.9 95.8% 53.1%;
    --chart-5: 354.3 71.9% 52.7%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
} */

.polka {
  background-image: radial-gradient(#333333 0.7px, #121212 1px);
  background-size: 14px 14px;
  background-position: center;
}

*::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

*::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 10rem;
  border: none;
}

*::-webkit-scrollbar-track {
  position: absolute;
  right: -3rem;
  top: -50rem;
  background: transparent;
}
*::-webkit-scrollbar-track-piece:start {
  background: transparent;
}

*::-webkit-scrollbar-track-piece:end {
  background: transparent;
}